{{!-- systems/fs2e/templates/actor/character-sheet.hbs --}}
<form class="fs2e sheet actor character" autocomplete="off">
  <header class="sheet-header fs2e-grid-sheet-header">

    <img class="profile" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />

    <div class="header-fields">

      <h1 class="sheetname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Name" />
      </h1>

      <div class="header container shade">

        <div class="fs2e-grid-sheet-fields">

            <label class="field underline">
              <span class="label">Player</span>
              <input type="text" name="system.data.player.value" value="{{system.data.player.value}}" />
            </label>

            <label class="field underline species-field" data-drop-species>
              <span class="label">Species</span>
              <div class="data-pill">
                {{#if system.data.species.uuid}}
                  <a class="open-species" data-uuid="{{system.data.species.uuid}}">
                    {{system.data.species.name}}
                  </a>
                  <a class="clear-species" title="Clear">×</a>
                {{else}}
                  <span class="placeholder">Drop species item here</span>
                {{/if}}
              </div>
            </label>

            <div class="fs2e-grid-sheet-age">
              <label class="field underline">
                <span class="label">Age</span>
                <input type="text" name="system.data.age.value" value="{{system.data.age.value}}" />
              </label>

              <label class="field underline">
                <span class="label">Gender</span>
                <input type="text" name="system.data.gender.value" value="{{system.data.gender.value}}" />
              </label>
            </div>

            <label class="field underline planet-field" data-drop-planet>
              <span class="label">Planet</span>
              <div class="data-pill">
                {{#if system.data.planet.uuid}}
                  <a class="open-planet" data-uuid="{{system.data.planet.uuid}}">
                    {{system.data.planet.name}}
                  </a>
                  <a class="clear-planet" title="Clear">×</a>
                {{else}}
                  <span class="placeholder">Drop planet item here</span>
                {{/if}}
              </div>
            </label>

            <label class="field underline aliance-field" data-drop-alliance>
              <span class="label">Alliance</span>
              <div class="data-pill">
                {{#if system.data.alliance.uuid}}
                  <a class="open-alliance" data-uuid="{{system.data.alliance.uuid}}">
                    {{system.data.alliance.name}}
                  </a>
                  <a class="clear-alliance" title="Clear">×</a>
                {{else}}
                  <span class="placeholder">Drop alliance item here</span>
                {{/if}}
              </div>
            </label>

            <label class="field underline">
              <span class="label">Rank</span>
              <input type="text" name="system.data.rank.value" value="{{system.data.rank.value}}" />
            </label>
        </div>  
      </div>
    </header>

     <nav class="sheet-tabs tabs actor" data-group="primary">
      <a class="item" data-tab="characteristics">Characteristics</a>
      <a class="item" data-tab="skills">Skills</a>
      <a class="item" data-tab="equipment">Equipment</a>
      <a class="item" data-tab="traits">Traits</a>
      <a class="item" data-tab="actions">Actions</a>
      <a class="item" data-tab="effects">Effects</a>
    </nav>

    <section class="sheet-body">
      <div class="tab characteristics" data-group="primary" data-tab="characteristics">
        {{> "systems/fs2e/templates/actor/actor-tabs/characteristics-tab.hbs"}}
      </div>

      <div class="tab skills" data-group="primary" data-tab="skills">
        {{> "systems/fs2e/templates/actor/actor-tabs/skills-tab.hbs"}}
      </div>

      <div class="tab equipment" data-group="primary" data-tab="equipment">
        <p>test</p>
      </div>

      <div class="tab traits" data-group="primary" data-tab="traits">
        <p>test</p>
      </div>

      <div class="tab actions" data-group="primary" data-tab="actions">
        <p>test</p>
      </div>

      <div class="tab effects" data-group="primary" data-tab="effects">
        <p>test</p>
      </div>
    </section>
</form>
