<form class="{{cssClass}} fs2e-item-sheet" autocomplete="off">
  {{> "systems/fs2e/templates/items/partials/item-header.hbs" }}

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="characteristics">Characteristics</a>
  </nav>

  <section class="sheet-body">
    {{> "systems/fs2e/templates/items/partials/item-description.hbs" }}

    <div class="tab" data-group="primary" data-tab="characteristics">
      <section class="item-section species-characteristics-section">
        {{#each view.characteristics}}
          <div class="species-characteristics-group">
            <h3>{{this.label}}</h3>
            {{#each this.stats}}
              <label class="species-form-row">
                <span class="species-row-label">{{this.label}}</span>
                <span class="species-row-value species-base-max">
                  <input class="traits-input" type="number" name="system.characteristics.{{../key}}.{{this.key}}.base" value="{{this.base}}" min="0" />
                  <span class="species-value-sep">/</span>
                  <input class="traits-input" type="number" name="system.characteristics.{{../key}}.{{this.key}}.max" value="{{this.max}}" min="0" />
                </span>
              </label>
            {{/each}}
          </div>
        {{/each}}

        <div class="species-characteristics-group species-spirit-group">
          <h3>Spirit</h3>
          <label class="species-form-row species-spirit-row">
            <span class="species-row-label species-row-label-header">Always Primary</span>
            <span class="species-row-value species-spirit-tags fs2e-tag-surface">
              <input
                type="text"
                class="species-tag-menu species-spirit-primary-menu fs2e-tag-input fs2e-tagify-base"
                value=""
                placeholder="Select spirit priorities"
              />
            </span>
          </label>
        </div>

        <div class="species-characteristics-group species-occult-group">
          <h3 class="species-occult-heading">
            <label class="species-occult-toggle-label">
              <span>Occult</span>
              <input type="checkbox" class="species-occult-toggle" {{#if view.occultEnabled}}checked{{/if}} />
            </label>
          </h3>
          <label class="species-form-row species-occult-row {{#unless view.occultEnabled}}is-hidden{{/unless}}">
            <span class="species-row-label species-row-label-header">Affinity</span>
            <span class="species-row-value species-spirit-tags fs2e-tag-surface">
              <input
                type="text"
                class="species-tag-menu species-occult-menu fs2e-tag-input fs2e-tagify-base"
                value=""
                placeholder="Select occult path"
              />
            </span>
          </label>
        </div>
      </section>
    </div>
  </section>
</form>

