<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="sheet-header-meta">
      <h1 class="sheet-title">
        <input class="fs2e-item-title" name="name" type="text" value="{{item.name}}" placeholder="History Name" />
      </h1>
      <div class="sheet-tags-slot">
        <fs2e-tagify-tags class="fs2e-tags"></fs2e-tagify-tags>
      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="characteristics">Traits</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
      {{editor enrichedContent.description target="system.description.value" button=true owner=owner editable=editable engine="prosemirror"}}
    </div>

    <div class="tab" data-group="primary" data-tab="characteristics">
      <section class="fs2e-history-mods">
        <div class="fs2e-history-mods-row">
          <h3>Characteristics</h3>
          <fs2e-mod-tags class="fs2e-history-char-mods"></fs2e-mod-tags>
        </div>
        <div class="fs2e-history-mods-row">
          <h3>Skills</h3>
          <fs2e-mod-tags class="fs2e-history-skill-mods"></fs2e-mod-tags>
        </div>
      </section>
    </div>

  </section>
</form>
