<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header flexrow">
    <img class="profile" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <h1 class="sheet-title">
      <input name="name" type="text" value="{{item.name}}" placeholder="Species Name" />
    </h1>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="characteristics">Characteristics</a>
    <a class="item" data-tab="traits">Traits</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description.value target="system.description.value" button=true owner=owner editable=editable}}
    </div>

    <div class="tab" data-group="primary" data-tab="characteristics">
      <section class="characteristics fs2e-grid-chars">
        <div class="container shade body">
          <h3>Body</h3>
          <div class="fs2e-grid-chars-body">
            {{#each view.characteristics.body}}
              <label class="stat" data-stat="{{this.key}}">
                <span class="name">{{this.label}}</span>
                <span class="values">
                  <input class="stat-input" type="number" name="system.characteristics.body.{{this.key}}.base" value="{{this.base}}" min="0" />
                  <span class="stat-slash">/</span>
                  <input class="stat-input" type="number" name="system.characteristics.body.{{this.key}}.max" value="{{this.max}}" min="0" />
                </span>
              </label>
            {{/each}}
          </div>
        </div>

        <div class="container shade mind">
          <h3>Mind</h3>
          <div class="fs2e-grid-chars-mind">
            {{#each view.characteristics.mind}}
              <label class="stat" data-stat="{{this.key}}">
                <span class="name">{{this.label}}</span>
                <span class="values">
                  <input class="stat-input" type="number" name="system.characteristics.mind.{{this.key}}.base" value="{{this.base}}" min="0" />
                  <span class="stat-slash">/</span>
                  <input class="stat-input" type="number" name="system.characteristics.mind.{{this.key}}.max" value="{{this.max}}" min="0" />
                </span>
              </label>
            {{/each}}
          </div>
        </div>

        <div class="container shade col-span-2 spirit">
          <h3>Spirit</h3>
          <div class="fs2e-grid-chars-spirit">
            <div class="fs2e-grid-chars-spirit-left spirit-left">
              {{#each view.characteristics.spirit.left}}
                <label class="stat" data-stat="{{this.key}}">
                  <span class="name">{{this.label}}</span>
                  <input class="stat-radio" type="radio"
                         name="system.characteristics.spiritPairs.{{this.pair}}"
                         value="{{this.key}}"
                         {{checked this.checked}} />
                  <span class="values">
                    <span class="stat-num">{{this.base}}</span>
                    <span class="stat-slash">/</span>
                    <span class="stat-num">{{this.max}}</span>
                  </span>
                </label>
              {{/each}}
            </div>

            <div class="fs2e-grid-chars-spirit-mid spirit-mid" aria-hidden="true"></div>

            <div class="fs2e-grid-chars-spirit-right spirit-right">
              {{#each view.characteristics.spirit.right}}
                <label class="stat" data-stat="{{this.key}}">
                  <span class="values">
                    <span class="stat-num">{{this.base}}</span>
                    <span class="stat-slash">/</span>
                    <span class="stat-num">{{this.max}}</span>
                  </span>
                  <input class="stat-radio" type="radio"
                         name="system.characteristics.spiritPairs.{{this.pair}}"
                         value="{{this.key}}"
                         {{checked this.checked}} />
                  <span class="name">{{this.label}}</span>
                </label>
              {{/each}}
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="tab" data-group="primary" data-tab="traits">
      {{editor system.traits.value target="system.traits.value" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
